p {
	/*background-color: #3F45AB;*/
	background: linear-gradient(black, red, yellow);
	height: 150px;
	width: 150px;
	border-style: solid;
	border-color: rgb(245, 288, 80);
	border-radius: 50%;
	box-shadow: 2px 2px grey;
}

ul {
	list-style: none;
}

li {
	float: left;
	width: 25%;
	/*list-style-image:url(D:\\Wallpapers\\10.jpg);*/
}